.headerselector {
    font-family: 'DatalegreyaGradient';
    font-size: 1.2vw;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
    margin-top: 2vh;
    color: black;
    text-decoration: none;
}

.headerselector:hover {
    font-family: 'DatalegreyaGradient';
    font-size: 1.21vw;
    font-weight: 700;
    vertical-align: middle;
    text-align: center;
    margin-top: 2vh;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.header {
    font-family: 'DatalegreyaGradient';
    font-size: 3.2vw;
    font-weight: 700;
    vertical-align: middle;
    text-align: center;
    margin-top: 2vh;
}

.halloffameheader {
    font-family: 'DatalegreyaGradient';
    font-size: 3.2vw;
    font-weight: 700;
    vertical-align: middle;
    text-align: center;
    margin-top: 9vh;
}

.titlefont {
    font-family: 'DatalegreyaGradient';
    font-size: 2.2vw;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
}

.tryagainbutton {
    color: white;
    text-decoration: none;

}

.tryagainbutton:hover {
    color: white;
    text-decoration: none;

}

#hide {
    display: none;
}

#hide1 {
    display: none;
}

#hidden {
    display: none;
}

#hiddenquestions {
    display: none;
}

#hiddenquestions1 {
    display: none;
}

#hiddenquestions2 {
    display: none;
}

#hiddenquestions3 {
    display: none;
}

#hiddenquestions4 {
    display: none;
}

#hiddenquestions5 {
    display: none;
}

#hiddenquestions6 {
    display: none;
}

.optionscss {
    font-family: 'DatalegreyaGradient';
    font-size: 2.2vw;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
}